In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/heart-disease/UCI-Heart-Disease-Dataset.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,1,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,0,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,2,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,0,0

In [4]:
df.shape

(297, 14)

In [5]:
df['sex'][df['sex']==0]='female'
df['sex'][df['sex']==1]='male'

df['cp'][df['cp']==1]='typical angina'
df['cp'][df['cp']==2]='atypical angina'
df['cp'][df['cp']==3]='non-anginal pain'
df['cp'][df['cp']==4]='asymptomatic'

df['fbs'][df['fbs']==0]='false'
df['fbs'][df['fbs']==1]='true'

df['restecg'][df['restecg']==0]='nomal'
df['restecg'][df['restecg']==1]='having ST-T wave abnormality'
df['restecg'][df['restecg']==2]='left ventricular hypertrophy'

df['exang'][df['exang']==0]='no'
df['exang'][df['exang']==1]='yes'

df['slope'][df['slope']==1]='upsloping'
df['slope'][df['slope']==2]='flat'
df['slope'][df['slope']==3]='downsloping'

df['thal'][df['thal']==0]='normal'
df['thal'][df['thal']==1]='fixed defect'
df['thal'][df['thal']==2]='reversable defect'

C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'][df['sex']==0]='female'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'][df['sex']==1]='male'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cp'][df['cp']==1]='typical angina'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cp'][df['cp']==2]='atypical angina'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cp'][df['cp']==3]='non-anginal pain'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cp'][df['cp']==4]='asymptomatic'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fbs'][df['fbs']==0]='false'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fbs'][df['fbs']==1]='true'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['restecg'][df['restecg']==0]='nomal'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['restecg'][df['restecg']==1]='having ST-T wave abnormality'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['restecg'][df['restecg']==2]='left ventricular hypertrophy'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['exang'][df['exang']==0]='no'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['exang'][df['exang']==1]='yes'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slope'][df['slope']==1]='upsloping'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slope'][df['slope']==2]='flat'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slope'][df['slope']==3]='downsloping'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['thal'][df['thal']==0]='normal'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['thal'][df['thal']==1]='fixed defect'
C:\Users\ChenHao\AppData\Local\Temp\ipykernel_80036\2715580436.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['thal'][df['thal']==2]='reversable defect'

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,male,typical angina,145,233,true,left ventricular hypertrophy,150,no,2.3,downsloping,0,fixed defect,0
1,67,male,asymptomatic,160,286,false,left ventricular hypertrophy,108,yes,1.5,flat,3,normal,1
2,67,male,asymptomatic,120,229,false,left ventricular hypertrophy,129,yes,2.6,flat,2,reversable defect,1
3,37,male,non-anginal pain,130,250,false,nomal,187,no,3.5,downsloping,0,normal,0
4,41,female,atypical angina,130,204,false,left ventricular hypertrophy,172,no,1.4,upsloping,0,normal,0

In [7]:
df.dtypes

age           int64
sex          object
cp           object
trestbps      int64
chol          int64
fbs          object
restecg      object
thalach       int64
exang        object
oldpeak     float64
slope        object
ca            int64
thal         object
target        int64
dtype: object

In [8]:
X = df.drop('target',axis=1)
y=df['target']

In [9]:
y = pd.DataFrame(y, columns=['target'])
y

     target
0         0
1         1
2         1
3         0
4         0
..      ...
292       1
293       1
294       1
295       1
296       1

[297 rows x 1 columns]

In [10]:
X = pd.get_dummies(X)
X

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_left ventricular hypertrophy,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect
0,63,145,233,150,2.3,0,0,1,0,0,...,1,0,1,0,1,0,0,1,0,0
1,67,160,286,108,1.5,3,0,1,1,0,...,1,0,0,1,0,1,0,0,1,0
2,67,120,229,129,2.6,2,0,1,1,0,...,1,0,0,1,0,1,0,0,0,1
3,37,130,250,187,3.5,0,0,1,0,0,...,0,1,1,0,1,0,0,0,1,0
4,41,130,204,172,1.4,0,1,0,0,1,...,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57,140,241,123,0.2,0,1,0,1,0,...,0,1,0,1,0,1,0,0,0,1
293,45,110,264,132,1.2,0,0,1,0,0,...,0,1,1,0,0,1,0,0,0,1
294,68,144,193,141,3.4,2,0,1,1,0,...,0,1,1,0,0,1,0,0,0,1
295,57,130,131,115,1.2,1,0,1,1,0,...,0,1,0,1,0,1,0,0,0,1
296,57,130,236,174,0.0,1,1,0,0,1,...,1,0,1,0,0,1,0,0,1,0

In [11]:
df2 = pd.concat([X,y],axis=1)
df2

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
0,63,145,233,150,2.3,0,0,1,0,0,...,0,1,0,1,0,0,1,0,0,0
1,67,160,286,108,1.5,3,0,1,1,0,...,0,0,1,0,1,0,0,1,0,1
2,67,120,229,129,2.6,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,1
3,37,130,250,187,3.5,0,0,1,0,0,...,1,1,0,1,0,0,0,1,0,0
4,41,130,204,172,1.4,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57,140,241,123,0.2,0,1,0,1,0,...,1,0,1,0,1,0,0,0,1,1
293,45,110,264,132,1.2,0,0,1,0,0,...,1,1,0,0,1,0,0,0,1,1
294,68,144,193,141,3.4,2,0,1,1,0,...,1,1,0,0,1,0,0,0,1,1
295,57,130,131,115,1.2,1,0,1,1,0,...,1,0,1,0,1,0,0,0,1,1
296,57,130,236,174,0.0,1,1,0,0,1,...,0,1,0,0,1,0,0,1,0,1

In [12]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [13]:
df.describe()

,age,trestbps,chol,thalach,oldpeak,ca,target
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,131.693603,247.350168,149.599327,1.055556,0.676768,0.461279
std,9.049736,17.762806,51.997583,22.941562,1.166123,0.938965,0.499340
min,29.000000,94.000000,126.000000,71.000000,0.000000,0.000000,0.000000
25%,48.000000,120.000000,211.000000,133.000000,0.000000,0.000000,0.000000
50%,56.000000,130.000000,243.000000,153.000000,0.800000,0.000000,0.000000
75%,61.000000,140.000000,276.000000,166.000000,1.600000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,3.000000,1.000000

In [14]:
pd.set_option('display.max_columns', None)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    int64
 1   sex       297 non-null    object
 2   cp        297 non-null    object
 3   trestbps  297 non-null    int64
 4   chol      297 non-null    int64
 5   fbs       297 non-null    object
 6   restecg   297 non-null    object
 7   thalach   297 non-null    int64
 8   exang     297 non-null    object
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    object
 11  ca        297 non-null    int64
 12  thal      297 non-null    object
 13  target    297 non-null    int64
dtypes: float64(1), int64(6), object(7)
memory usage: 32.6+ KB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   297 non-null    int64
 1   trestbps                              297 non-null    int64
 2   chol                                  297 non-null    int64
 3   thalach                               297 non-null    int64
 4   oldpeak                               297 non-null    float64
 5   ca                                    297 non-null    int64
 6   sex_female                            297 non-null    uint8
 7   sex_male                              297 non-null    uint8
 8   cp_asymptomatic                       297 non-null    uint8
 9   cp_atypical angina                    297 non-null    uint8
 10  cp_non-anginal pain                   297 non-null    uint8
 11  cp_typical angina                     297 non-null    uint8
 12  fbs_false                             297 non-null    uint8
 13  fbs_true                              297 non-null    uint8
 14  restecg_having ST-T wave abnormality  297 non-null    uint8
 15  restecg_left ventricular hypertrophy  297 non-null    uint8
 16  restecg_nomal                         297 non-null    uint8
 17  exang_no                              297 non-null    uint8
 18  exang_yes                             297 non-null    uint8
 19  slope_downsloping                     297 non-null    uint8
 20  slope_flat                            297 non-null    uint8
 21  slope_upsloping                       297 non-null    uint8
 22  thal_fixed defect                     297 non-null    uint8
 23  thal_normal                           297 non-null    uint8
 24  thal_reversable defect                297 non-null    uint8
 25  target                                297 non-null    int64
dtypes: float64(1), int64(6), uint8(19)
memory usage: 21.9 KB

In [17]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [18]:
df2.shape

(297, 26)

In [19]:
df2.to_csv('dataset/heart-disease/heart-disease.csv',index=False)