In [1]:
import pandas as pd
df = pd.read_csv('dataset/heart-disease/heart-disease.csv')
df.head()

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
0,63,145,233,150,2.3,0,0,1,0,0,...,0,1,0,1,0,0,1,0,0,0
1,67,160,286,108,1.5,3,0,1,1,0,...,0,0,1,0,1,0,0,1,0,1
2,67,120,229,129,2.6,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,1
3,37,130,250,187,3.5,0,0,1,0,0,...,1,1,0,1,0,0,0,1,0,0
4,41,130,204,172,1.4,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0

In [2]:
df = df.drop(['target'], axis=1)

In [3]:
df.columns

Index(['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca', 'sex_female',
       'sex_male', 'cp_asymptomatic', 'cp_atypical angina',
       'cp_non-anginal pain', 'cp_typical angina', 'fbs_false', 'fbs_true',
       'restecg_having ST-T wave abnormality',
       'restecg_left ventricular hypertrophy', 'restecg_nomal', 'exang_no',
       'exang_yes', 'slope_downsloping', 'slope_flat', 'slope_upsloping',
       'thal_fixed defect', 'thal_normal', 'thal_reversable defect'],
      dtype='object')

In [11]:
q1 = df['ca'].quantile(0.25)
q3 = df['ca'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
print('lower_bound:',lower_bound)
print('upper_bound:',upper_bound)

lower_bound: -1.5
upper_bound: 2.5

In [6]:
df.describe()

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_left ventricular hypertrophy,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,...,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,131.693603,247.350168,149.599327,1.055556,0.676768,0.323232,0.676768,0.478114,0.164983,...,0.491582,0.494949,0.673401,0.326599,0.070707,0.461279,0.468013,0.060606,0.552189,0.387205
std,9.049736,17.762806,51.997583,22.941562,1.166123,0.938965,0.468500,0.468500,0.500364,0.371792,...,0.500773,0.500818,0.469761,0.469761,0.256768,0.499340,0.499818,0.239009,0.498108,0.487933
min,29.000000,94.000000,126.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,120.000000,211.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,130.000000,243.000000,153.000000,0.800000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,61.000000,140.000000,276.000000,166.000000,1.600000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,3.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000