In [6995]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

df = pd.read_csv('dataset/heart-disease/heart-disease.csv')

X = df.drop('target',axis=1)

y=df['target']

feature_names = X.columns

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.preprocessing import StandardScaler
transform = StandardScaler()
X_train[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']] = transform.fit_transform(X_train[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']])
X_test[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']] = transform.transform(X_test[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']])

import joblib
model = joblib.load('saved_model/heart-disease/MLP.pkl')

y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)

df = pd.read_csv('explain_set/heart-disease/MLP/lore/lore_explain_25.csv')
X_explain = df.drop('target',axis=1)
y_explain=df['target']

X_explain[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']] = transform.transform(X_explain[['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'ca']])

y_pred_explain = model.predict(X_explain)

y_pred_proba_explain = model.predict_proba(X_explain)

In [6996]:
y_pred

array([0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1], dtype=int64)

In [6997]:
y_pred_explain

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1], dtype=int64)

In [6998]:
compare = np.array(y_pred == y_pred_explain)
compare

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
       False,  True, False, False,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True,  True,  True, False,  True, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True,  True,  True, False,
        True,  True, False,  True,  True,  True,  True,  True,  True])

In [6999]:
from collections import Counter

In [7000]:
#Only consider category 0 or 1
M_index = np.where(y_pred==0)
M_index

(array([ 0,  2,  4,  5,  9, 10, 11, 12, 15, 19, 25, 28, 29, 30, 31, 33, 34,
        35, 37, 40, 44, 48, 49, 50, 52, 53, 55, 56, 57, 60, 61, 62, 63, 64,
        67, 69, 75, 77, 78, 79, 80, 85, 86, 88], dtype=int64),)

In [7001]:
compare_M = np.array(y_pred[M_index] == y_pred_explain[M_index])
compare_M

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True])

In [7002]:
counter = Counter(compare_M)

In [7003]:
counter

Counter({True: 38, False: 6})

In [7004]:
sum(counter.values())

44

In [7005]:
dictcounter = dict(counter)

In [7006]:
VAL=dictcounter[False]/sum(counter.values())
VAL

0.13636363636363635

In [7007]:
ConsistencyScores = 1-VAL
ConsistencyScores

0.8636363636363636

In [7008]:
data_enhan_index = np.where(compare_M==False)
data_enhan_index

(array([25, 26, 27, 29, 31, 40], dtype=int64),)

In [7009]:
M_index = np.array(M_index)
M_index = M_index.flatten()
M_index

array([ 0,  2,  4,  5,  9, 10, 11, 12, 15, 19, 25, 28, 29, 30, 31, 33, 34,
       35, 37, 40, 44, 48, 49, 50, 52, 53, 55, 56, 57, 60, 61, 62, 63, 64,
       67, 69, 75, 77, 78, 79, 80, 85, 86, 88], dtype=int64)

In [7010]:
M_index[data_enhan_index]

array([53, 55, 56, 60, 62, 80], dtype=int64)

In [7011]:
data_enhan = df.loc[M_index[data_enhan_index]]
data_enhan

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
53,58,130,197,131,14.0,12,1,0,1,0,...,1,1,0,0,1,0,0,1,0,0
55,57,180,241,123,14.0,12,1,0,1,0,...,1,0,1,0,1,0,0,0,1,1
56,50,180,219,225,14.0,12,1,0,0,0,...,1,1,0,0,1,0,0,1,0,0
60,39,138,220,225,14.0,12,1,0,0,0,...,1,1,0,0,1,0,0,1,0,0
62,69,180,239,225,1.8,2,1,0,0,0,...,1,1,0,0,0,1,0,1,0,0
80,63,180,197,136,0.0,12,1,0,1,0,...,1,0,1,0,1,0,0,1,0,1

In [7012]:
data_enhan['target'] = y_pred_explain[M_index[data_enhan_index]]
data_enhan

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
53,58,130,197,131,14.0,12,1,0,1,0,...,1,1,0,0,1,0,0,1,0,1
55,57,180,241,123,14.0,12,1,0,1,0,...,1,0,1,0,1,0,0,0,1,1
56,50,180,219,225,14.0,12,1,0,0,0,...,1,1,0,0,1,0,0,1,0,1
60,39,138,220,225,14.0,12,1,0,0,0,...,1,1,0,0,1,0,0,1,0,1
62,69,180,239,225,1.8,2,1,0,0,0,...,1,1,0,0,0,1,0,1,0,1
80,63,180,197,136,0.0,12,1,0,1,0,...,1,0,1,0,1,0,0,1,0,1

In [7013]:
#data_enhan.to_csv('data_enhan/heart-disease/anchor/anchor_enhan.csv',index=False)