In [1]:
import pandas as pd
df = pd.read_csv('dataset/heart-disease/test_data.csv')
df.head()

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
0,45,112,160,138,0.0,0,1,0,0,1,...,1,1,0,0,1,0,0,1,0,0
1,52,112,230,160,0.0,1,0,1,1,0,...,1,1,0,0,0,1,0,1,0,1
2,54,135,304,170,0.0,0,1,0,0,0,...,1,1,0,0,0,1,0,1,0,0
3,70,130,322,109,2.4,3,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
4,56,120,236,178,0.8,0,0,1,0,1,...,1,1,0,0,0,1,0,1,0,0

In [2]:
bound = pd.read_csv('dataset/heart-disease/bound.csv')
for idx in range(90):
    for j in range(25):
        df.iat[idx,j]=bound.iat[1,j]

In [3]:
df

,age,trestbps,chol,thalach,oldpeak,ca,sex_female,sex_male,cp_asymptomatic,cp_atypical angina,...,restecg_nomal,exang_no,exang_yes,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect,target
0,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
88,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89,90.5,180,383.5,225.5,14.0,12.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df.to_csv('dataset/heart-disease/keep_temp.csv',index=False)